/* static/css/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #bbb;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-section p {
    line-height: 1.6;
}

.footer-section .socials a {
    color: #bbb;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.2em;
}

.footer-section .socials a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 0;
}

/* About css */

.about_text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.thicker {
    font-size: 25px !important;
  }

.button{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    
  }
  

