{% extends "base.html" %}
{%load static%}
{% block title %} About{% endblock title %}

{% block body %}

<div class="container-fluid px-0">
    <img src="{%static 'img/h1.png'%}" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container">
<h2 class="text-center" style="padding-top: 10px; color: brown;"><u> About Us</u> </h2><br>
<div class="container-fluid py-6">
  <p class="about_text"> Introducing Popclean, your trusted and reliable partner for all your dry-cleaning needs. 

    At Popclean, we understand the importance of looking and feeling your best. We believe that every garment deserves the royal treatment, which is why we go above and beyond to provide exceptional dry-cleaning services that leave your clothes looking impeccably clean and refreshed.
    
    Our team of experienced and skilled professionals is dedicated to delivering the highest level of quality and customer satisfaction. We use state-of-the-art equipment and eco-friendly cleaning solutions to ensure that your clothes are treated with care, preserving their colour, fabric, and delicate details. From delicate silks to tailored suits, our meticulous dry-cleaning process guarantees outstanding results every time.
    
    We understand that life can get busy, which is why we offer a hassle-free experience with our convenient Pickup & Delivery service. Simply schedule a time and location that works best for you, and our friendly staff will handle the rest. Say goodbye to those dreaded laundry days and enjoy more time for the things that matter most.
    
    At Popclean, we pride ourselves on our attention to detail. Our dedicated team inspects every garment thoroughly, from buttons to hems, leaving no stone unturned. Our goal is to provide a flawless finish that exceeds your expectations, so you can confidently step out in your favorite outfits, knowing that they have received the best care possible.
    
    In addition to our regular dry-cleaning services, we specialize in stain removal. Whether it’s stubborn oil stains or challenging wine spills, our expert staff have the knowledge and expertise to tackle even the toughest stains, ensuring that your clothes are returned to you spotless and ready to wear.
    
    We also offer specialized services such as formalwear cleaning and wedding gown preservation. Your special occasion garments deserve special care, and we ensure that they receive the utmost attention to detail, so you can cherish your memories for years to come.
    
    At Popclean, your satisfaction is our top priority. We pride ourselves on delivering personalized service and exceeding your expectations. Come and experience the difference that our professional dry-cleaning services can make. Revitalize your wardrobe and enjoy the benefits of effortless style with Popclean. 
 
    Contact us today to schedule your first appointment..</b>  </p>
  <hr>
  </div>
  
  <div class="container">
    <div class="row featurette">
    <h1 class="text-center" style="padding-top: 10px; color: brown;"> <u> Reason For Choose Us </u> </h1>

      <div class="col-md-7"> <br>
        <h1> 6 Stage Process for Unmatched Garment Care.</h1> <hr>
        <p class="thicker">Specialized Machinery & Skilled Experts for each stage makes us the best laundry & dry cleaner near you. </p> <hr>
        <br><br>
        
      </div>
      <div class="col-md-5">
        <br>
        <div class="stage">
          <h2>1. Schedule Pickup</h2>
          <p>Sorting & Inspection</p>
          <p>Segregation basis care label, fabric type and color</p>
      </div>
      <div class="stage">
        <h2>2. Stain Treatment</h2>
        <p>Italian spotting machines | American stain removing solutions</p>
    </div>
    <div class="stage">
      <h2>3. Processing</h2>
      <p>World-Renowned Italian Dry cleaning machines | German Eco friendly cleaning solutions</p>
  </div>
  <div class="stage">
      <h2>4. Finishing</h2>
      <p>Unique Steam Ironing equipment for each garment type</p>
  </div>
  <div class="stage">
      <h2>5. Quality Check</h2>
      <p>Meticulous inspection of each item by experts</p>
  </div>
  <div class="stage">
      <h2>6. Packing</h2>
      <p>Folded, Hanger or Vacuum packing as per your stated preference</p>
  </div>
      </div>
    </div>
    </div>
    <hr>
</div>
    
  <div class="container">
    <h1 class="text-center" style="padding-top: 10px; color: brown;"> <u> Our Leadership</u> </h1>
    <div class="container my-3">
      <div class="container my-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">       
              <img src="{% static "img/Ankit.png" %}" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center" style="font-size: 30px;"><b>Ankit Singh</b></p>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="{% static "img/sourav.jpg" %}" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center" style="font-size: 30px;"><b>Sourabh Singh Shahi</b></p>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="{% static "img/mohit.jpg" %}" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center" style="font-size: 30px;"><b>Mohit Verma</b></p>
                
              </div>
            </div>
          </div>
      
        </div>
      </div>
      <hr>
    </div>
  </div>

 {% endblock body %}

